<section id="home" class="py-5 my-5">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Nelson Araya Rojas</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Ingeniero Civil Informático - Desarrollador Web Full Stack
      </p>
    </div>
    <app-contact></app-contact>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        href="assets/docs/CV_NelsonAraya.pdf"
        download="CV_NARARO.pdf"
        class="btn btn-lg px-4 gap-3"
      >
        Descargar CV
      </a>
    </div>
    <a href="#about-me" class="btn my-5"
      ><i class="btn bi bi-arrow-down-circle" style="font-size: 30px"></i
    ></a>
  </div>
</section>
